.modal-content {
  .nav-item {
    .nav-link {
      color: theme-color('light');
      background-color: theme-color('secondary');
      border-bottom-color: #fff;
      &.active {
        color: theme-color('light');
        background-color: theme-color('primary');
      }
      .nav-link-inner-btn {
        position: relative;
        margin-left: 20px;
        margin-right: 10px;
        padding: 2px;
        background-color: theme-color('secondary');
      }
      .nav-link-inner-btn:hover {
        background-color: theme-color('secondary-light');
      }
    }
  }
  .close {
    top: 5px;
  }
}
