.modal-content {
  .modal-header {
    position: relative;
    border: 0px;
    min-height: 50px;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .nav-full {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    border: 0px;
    width: fit-content;
    right: auto;
    flex-wrap: nowrap;

    button {
      height: 100%;
    }
  }
  .nav-item {
    .nav-link {
      color: theme-color('light');
      background-color: theme-color('secondary');
      &.active {
        color: theme-color('secondary');
        background-color: white;
      }
      .nav-link-inner-btn {
        position: relative;
        margin-left: 20px;
        margin-right: 10px;
        padding: 2px;
      }
      .nav-link-inner-btn:hover {
        background-color: theme-color('secondary-light');
      }
    }
  }
  .modal-header-loader {
    position: absolute;
    right: 5px;
  }
  .modal-footer {
    padding: 0.2rem;
    background-color: theme-color('secondary');

    button.btn {
      font-size: 1rem;
      min-height: 36px;
      min-width: 36px;
    }

    .calm-button-loader {
      line-height: 36px;
      margin: auto;
      vertical-align: middle;
      position: relative;
    }
  }
}

.container-xxs .modal-content .modal-footer,
.container-xs .modal-content .modal-footer {
    background-color: theme-color('secondary');
    height: 60px;
    min-height: 60px;
    padding-bottom: 10px;
}

.modal-help {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white;
  border: 1px solid theme-color('secondary-light');
  z-index: 99999;
  padding: 10px;
  overflow: hidden;
}
.modal-right-panel {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: white;
  border: 1px solid theme-color('secondary-light');
  z-index: 99990;
  overflow: hidden;
}
