.modal-content {
  .nav-item {
    .nav-link {
      color: theme-color('light');
      background-color: theme-color('secondary');
      border-bottom-color: #fff;
      &.active {
        color: theme-color('light');
        background-color: theme-color('primary');
      }
    }
  }
}
