@import '../../styles/mixins';

.basic-svg-checkbox {
  display: inline-block;
  text-align: center;

  .label-cbx {
    user-select: none;
    cursor: pointer;
    margin-bottom: 0;

    .checkbox {
      position: relative;
      top: 2px;
      float: left;
      width: 20px;
      height: 20px;
      border: 2px solid #c8ccd4;
      border-radius: 3px;
      svg {
        position: absolute;
        top: -2px;
        left: -2px;
        #basic-svg-checkbox-inner {
          fill: white;
          stroke: white;
        }
        #basic-svg-checkbox-out {
          fill: none;
          stroke: theme-color('secondary');
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-dasharray: 71px;
          stroke-dashoffset: 71px;
          transition: all 0.6s ease;
        }
      }
    }

    input:checked {
      & + .checkbox {
        border-color: theme-color('secondary');
        svg {
          #basic-svg-checkbox-inner {
            fill: theme-color('secondary');
            stroke: white;
          }
          #basic-svg-checkbox-out {
            fill: none;
            stroke: theme-color('secondary');
          }
        }
      }
    }
    &:hover {
      .checkbox {
        svg {
          #basic-svg-checkbox-inner {
            fill: white;
            stroke: white;
          }
          #basic-svg-checkbox-out {
            stroke-dashoffset: 0;
          }
        }
      }
    }

    > span {
      pointer-events: none;
      vertical-align: middle;
    }
  }

  .invisible {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
  }
}
