.trello-card-menu {
  .trello-lane-card-menu {
    transition: all 0.5s ease;
    display: inline-block;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    height: 15px;
    line-height: 1px;
    margin: 0 0 8px;
    padding: 0;
    text-align: center;
    width: 15px;
    background: inherit;
    cursor: pointer;
  }
}
