.trello-card {
  border-radius: 3px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  position: relative;
  padding: 10px;
  cursor: pointer;
  max-width: 350px;
  margin-bottom: 7px;
  min-width: 330px;

  &:hover {
    background-color: theme-color('primary-light');
    color: #000;
  }
}

.trello-card-header {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 1px solid #eee;
  padding-bottom: 6px;
  color: #000;
}

.trello-card-title {
  font-weight: normal;
  line-height: 18px;
  font-size: 14px;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
}

.trello-card-project {
  font-weight: normal;
  line-height: 18px;
  font-size: 12px;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
}

.trello-card-detail {
  border-top: 1px solid #eee;
  padding-top: 3px;
  margin-top: 3px;
  font-size: 12px;
  color: #4d4d4d;
  white-space: pre-wrap;
  line-height: 1;
}

.trello-card-footer {
  border-top: 1px solid #eee;
  padding-top: 3px;
  margin-top: 3px;
  text-align: right;
}

.trello-card-priority {
  width: 18px !important;
  height: 18px !important;
  text-align: center;
  line-height: 16px !important;
  font-size: 12px;
  border-radius: 9px !important;
  &.border-simple {
    border: 1px solid !important;
  }
  &.border-warning {
    border: 2px solid !important;
  }
  &.border-danger {
    border: 2px solid !important;
  }
  margin-top: 4px;
}

.trello-card-deadline {
  text-align: left;
  font-size: 11px;
  margin-top: 3px;
}

.trello-card-progress {
  text-align: left;
  font-size: 11px;
  margin-top: 3px;
}

.trello-card-comment {
  width: 30%;
  text-align: center;
  font-size: 12px;
}
