.trello-new-lane-form {
  background-color: #e3e3e3;
  border-radius: 3px;
  margin: 5px 5px;
  position: relative;
  padding: 10px;
  display: inline-flex;
  height: auto;
  max-height: 90%;
  flex-direction: column;

  .trello-new-lane-title {
    font-size: 15px;
    width: 268px;
    height: auto;
  }

  .trello-new-lane-buttons {
    margin-top: 10px;
  }
}
