@import '../../styles/mixins';

.page-mobile-menu {
  .page-mobile-menu-option {
    position: relative;
    min-height: 80px;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    padding: 4px;
    /*box-shadow: 0 0.1rem 0.2rem theme-color('secondary') !important;*/

    svg {
      position: absolute;
      top: 4px;
      left: 4px;
    }

    span {
      color: black;
      font-weight: thin;
    }
  }
}
