/* The heart of the matter */
.mobile-footer-menu {
  &.row {
    overflow-x: auto;
    white-space: nowrap;
  }
  &.row > .col-xxs-w8, &.row > .col-xxs-w10, &.row > .col-xxs-w12, &.row > .col-xxs-w18 {
    display: inline-block;
    float: none;
    margin: auto;
  }
}
