.sort-icon {
  position: absolute;
  display: inline-block;
  margin-left: 3px;
  margin-top: -2px;
  top: 0px;
}
.col-vertical-align {
  overflow: hidden;
}
.sort-icon:hover {
  cursor: pointer;
}

.title-select {
  position: absolute;
  font-size: 0.8rem;
}