.default-list-title {
  font-size: 0.9rem;
  border-bottom: 1px solid;
  border-color: theme-color('secondary');
  padding-right: 10px;
}
.sort-icon {
  position: absolute;
  display: inline-block;
  margin-left: 3px;
  margin-top: -2px;
  top: 0px;
  right: 6px;
}
.col-vertical-align {
  overflow: hidden;

  &.sortable:hover {
    background-color: theme-color('primary-light');
  }
}
.sort-icon:hover {
  cursor: pointer;
}

.title-select {
  position: absolute;
  font-size: 0.8rem;
}