.rbf-list-default-list-right-separator {
  width: 15px !important;
}
.rbf-list-default-list-right-menu {
  width: 70px !important;
}
.rbf-list-default-list-right-content {
  width: calc(100% - 85px) !important;
}