.rbf-list-mobile-line {
  .rbf-list-mobile-line-header:hover {
    cursor: pointer;
  }
  .rbf-list-mobile-line-header-highlighter {
    position: absolute;
    left:0px;
    top: 0px;
    bottom: 0px;
    background-color: transparent;
    width: 5px;
  }
  .rbf-list-mobile-line-header-select {
    position: absolute;
    left: 7px;
    top: 2px;
  }
  .rbf-list-mobile-line-header-title {
    font-weight: bold;
    margin-left: 25px;
  }
  .rbf-list-mobile-line-header-nav {
    position: absolute;
    top: 00px;
    right: 0px;
    bottom: 0px;

    button {
      height: 100%;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  .card-header {
    position: relative;
  }
  .card-header span {
    color: black;
    font-size: 0.9rem;
  }
  .card {
    /*box-shadow: 0 0.1rem 0.2rem theme-color('secondary') !important;*/
  }
  .card, .card-header {
    background-color: white;
  }
  .card.row-line-warning, .card.row-line-warning .card-header {
    background-color: theme-color('warning-light');
  }
  .card.row-line-danger, .card.row-line-danger .card-header {
    background-color: theme-color('danger-light');
  }
  .rbf-list-mobile-line-3dots {
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .rbf-list-mobile-line {
    .card-header {
      padding: 0.75rem 0.25rem;
    }
  }
}
