.rbf-list-mobile-line {
  a {
    color: theme-color('dark');
    text-decoration-color: theme-color('dark');
  }
  .card-header.rbf-list-mobile-line-header {
    height: 36px;
  }
  .rbf-list-mobile-line-header:hover {
    cursor: pointer;
  }
  .rbf-list-mobile-line-header-highlighter {
    position: absolute;
    left:0px;
    top: 0px;
    bottom: 0px;
    background-color: transparent;
    width: 5px;
  }
  .rbf-list-mobile-line-header-select {
    position: absolute;
    left: 5px;
    top: 5px;
  }
  .rbf-list-mobile-line-header-title {
    font-weight: bold;
    margin-left: 30px;
    white-space: nowrap;
    word-break: keep-all;
  }
  .rbf-list-mobile-line-header-nav {
    position: absolute;
    top: 00px;
    right: 0px;
    bottom: 0px;

    button {
      height: 100%;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  .card-header {
    position: relative;
    border: none;
    padding: 0.7rem 0.25rem;
    border-radius: 0px;
  }
  .card-header span {
    color: black;
    font-size: 0.9rem;
  }
  .card {
    /*box-shadow: 0 0.1rem 0.2rem theme-color('secondary') !important;*/
    margin: 0px;
    border: none;
    border-bottom: 1px solid theme-color('secondary-light');
    border-radius: 0px;
  }
  .card, .card-header {
    background-color: white;
  }
  .card.row-line-warning, .card.row-line-warning .card-header {
    background-color: theme-color('warning-light');
  }
  .card.row-line-danger, .card.row-line-danger .card-header {
    background-color: theme-color('danger-light');
  }
  .rbf-list-mobile-line-3dots {
    font-weight: bold;
  }
}
