.hightlight-card {
  z-index: 999999;
  min-width: 250px;
  max-width: 350px;
}
.highlight-back {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.highlight-toggler {
  cursor: pointer;
}
.highlight-close {
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 2px;
}
.highlight-timer-wrapper {
  max-height: 30px;
  max-width: 30px;
  margin: auto;
}
.highlight-arrow-wrapper {
  cursor: pointer;

  .highlight-arrow {
    width: 20px;
    height: 20px;
  }
}
