@import './mixins/scrollbar';

// Here you put all global css rules.
body {
  margin: 0;
  border: 0 none;
  padding: 0;
  font-family: sans-serif;
  font-weight: 100;
}
@media (max-width: 768px) {
  body {
    font-weight: normal;
  }
}

html,
body {
  overflow: hidden;
}

.form-group {
  margin-bottom: 0.5rem;
  label {
    margin-bottom: 0.2rem;
  }
}

.default-header-menu .navbar-brand {
  font-weight: bold;
}

.form-inline-list {
  border: 1px solid theme-color('secondary-light');
}

.form-group-sm {
  margin-bottom: 0rem;
}

.custom-scrollbar {
  @include scrollbars(10px, theme-color('primary'), theme-color('primary-light'));
}

.noselect {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.text-danger > svg {
  fill: theme-color('danger');
  path {
    fill: theme-color('danger');
  }
}
.text-warning > svg {
  fill: theme-color('warning');
  path {
    fill: theme-color('warning');
  }
}
.text-success > svg {
  fill: theme-color('success');
  path {
    fill: theme-color('success');
  }
}
.text-dark > svg {
  fill: theme-color('dark');
  path {
    fill: theme-color('dark');
  }
}
.text-light > svg {
  fill: theme-color('light');
  path {
    fill: theme-color('light');
  }
}
.text-secondary > svg {
  fill: theme-color('secondary');
  path {
    fill: theme-color('secondary');
  }
}
.text-primary > svg {
  fill: theme-color('primary');
  path {
    fill: theme-color('primary');
  }
}
svg.text-primary.inline-action:hover {
  cursor: pointer;
  color: theme-color('primary-dark');
  fill: theme-color('primary-dark');
  path {
    fill: theme-color('primary-dark') !important;
  }
}
svg.text-secondary.inline-action:hover {
  cursor: pointer;
  color: theme-color('secondary-dark');
  fill: theme-color('secondary-dark');
  path {
    fill: theme-color('secondary-dark') !important;
  }
}
svg.text-warning.inline-action:hover {
  cursor: pointer;
  color: theme-color('warning-dark');
  fill: theme-color('warning-dark');
  path {
    fill: theme-color('warning-dark') !important;
  }
}

.inline-add-one .inline-action:hover {
  cursor: pointer;
}

.btn-sm {
  &.btn {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
  }
  svg {
    height: 1.2rem !important;
    width: 1.2rem !important;
  }
}

.navbar {
  &.navbar-secondary {
    color: white;
  }
}

.sidebar-navigation li:hover a {
  color: theme-color('primary-light') !important;
}
.sidebar-navigation li:hover i {
  border: solid theme-color('primary-light') !important;
  border-width: 0 3px 3px 0 !important;
}
.sidebar-navigation li:hover a > svg {
  fill: theme-color('primary-light') !important;
  path {
    fill: theme-color('primary-light') !important;
  }
}

.btn-left {
  &.btn {
    padding: 1rem;
  }
  svg {
    height: 1.5rem !important;
    width: 1.5rem !important;
  }
}

.modal-body {
  padding: 1em;
}

.modal-fullscreen {
  padding: 0 !important; // override inline padding-right added from js
  max-width: none;
  width: none;
  &.modal-dialog {
    position: absolute;
    left: 10px;
    right: 10px;
    top: -20px;
    bottom: 10px;
  }
  .modal-content {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }
  .modal-body {
    overflow-y: auto;
    height: auto !important;
    min-height: auto !important;
  }
}
@media (max-width: 768px) {
  .modal-fullscreen {
    &.modal-dialog {
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      margin: 0;
    }
    .modal-content {
      border: 0px;
    }
  }
}

.modal-xl {
  .modal-body {
    min-height: 550px;
    max-height: 650px;
  }
}

.modal-lg {
  .modal-body {
    min-height: 450px;
    max-height: 550px;
  }
}

.modal-md {
  .modal-body {
    min-height: 350px;
    max-height: 450px;
  }
}

.nav-tabs {
  border-color: theme-color('secondary-inactive');
}

.nav-item .nav-link {
  color: theme-color('secondary-inactive');
}

.nav-item .nav-link.active {
  color: theme-color('primary');
}

.nav-item .nav-link:hover {
  cursor: pointer;
}
.nav-item .nav-link.disabled:hover {
  cursor: not-allowed;
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 0.2rem 0.3rem;
  font-size: 0.8rem;
  line-height: 0.4;
  border-radius: 0.2rem;
}

.inline-list {
  color: theme-color('dark');

  svg.inline-action:hover {
    cursor: pointer;
    fill: theme-color('secondary-light');
    path {
      fill: theme-color('secondary-light') !important;
    }
  }
  .row-line {
    min-height: 30px;
    line-height: 30px;
    border-bottom: 1px solid;
    border-color: theme-color('secondary-light');
  }
  .row-title {
    background-color: theme-color('secondary-light');

    .col-title:after {
      content: ' ';
      position: absolute;
      border-right: 1px solid theme-color('light');
      top: 5px;
      bottom: 5px;
      right: 0px;
    }
  }
  .row-title span {
    font-weight: bold;
  }
  svg.inline-action:hover {
    cursor: pointer;
    color: theme-color('light');
    fill: theme-color('light');
    path {
      fill: theme-color('light') !important;
    }
  }
  .btn-group {
    position: absolute;
    right: 10px;
  }
}
// generic odd / even
.row-even .card-mobile-line,
.row-even .card-mobile-line .card-header,
.row-line.row-even {
  background: theme-color('light');
}
.row-line.row-even:not(.row-title):hover {
  background: theme-color('primary-light');
  color: theme-color('secondary') !important;
}
.row-odd .card-mobile-line,
.row-odd .card-mobile-line .card-header,
.row-line.row-odd {
  background: transparent;
}
.row-line.row-odd:not(.row-title):hover {
  background: theme-color('primary-light');
  color: theme-color('secondary') !important;
}

.list-group-item {
  background-color: transparent;
}

.scrollarea .scrollbar-container.vertical .scrollbar {
  background-color: theme-color('primary') !important;
}
@media (max-width: 1920px) {
  body {
    font-size: 0.9rem;
  }
  .modal-body {
    font-size: 0.9rem;
  }
  .input-group {
    font-size: 0.9rem;
  }
}
@media (max-width: 1200px) {
  body {
    font-size: 0.75rem;
  }
  .modal-body {
    font-size: 0.75rem;
  }
  .input-group {
    font-size: 0.75rem;
  }
}
.modal-shadow {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.text-line-through {
  text-decoration: line-through;
  font-style: italic;
}

/* Ligne de séparation entre les lignes des listes */
.row-line-separator {
  border-bottom: 1px solid;
}

/* Hover des lignes des listes */
.row-line-hover {
  background-color: theme-color('primary-light');
  color: theme-color('secondary');
}

/* Couleur de fond spécifique des lignes des listes */
.row-line-inactive .rbf-list-mobile-line-header-highlighter,
.row-line-inactive .col-highlighter {
  background-color: theme-color('inactive') !important;
}
.row-line-inactive-light .rbf-list-mobile-line-header-highlighter,
.row-line-inactive-light .col-highlighter {
  background-color: theme-color('gray') !important;
}
/* Couleur de fond spécifique des lignes des listes */
.row-line-warning .rbf-list-mobile-line-header-highlighter,
.row-line-warning .col-highlighter {
  background-color: theme-color('warning') !important;
}
.row-line-warning-light .rbf-list-mobile-line-header-highlighter,
.row-line-warning-light .col-highlighter {
  background-color: theme-color('warning-light') !important;
}
.row-line-danger .rbf-list-mobile-line-header-highlighter,
.row-line-danger .col-highlighter {
  background-color: theme-color('danger') !important;
}
.row-line-danger-light .rbf-list-mobile-line-header-highlighter,
.row-line-danger-light .col-highlighter {
  background-color: theme-color('danger-light') !important;
}
.row-line-secondary .rbf-list-mobile-line-header-highlighter,
.row-line-secondary .col-highlighter {
  background-color: theme-color('secondary') !important;
}
.row-line-secondary-light .rbf-list-mobile-line-header-highlighter,
.row-line-secondary-light .col-highlighter {
  background-color: theme-color('secondary-light') !important;
}
.row-line-primary .rbf-list-mobile-line-header-highlighter,
.row-line-primary .col-highlighter {
  background-color: theme-color('primary') !important;
}
.row-line-primary-light .rbf-list-mobile-line-header-highlighter,
.row-line-primary-light .col-highlighter {
  background-color: theme-color('primary') !important;
}
.row-line-dark .rbf-list-mobile-line-header-highlighter,
.row-line-dark .col-highlighter {
  background-color: theme-color('dark') !important;
}

/* On force la couleur des icones dans les colonnes des listes */
.text-secondary svg.col-icon {
  fill: theme-color('secondary');
  path {
    fill: theme-color('secondary');
  }
}

.text-light svg.col-icon {
  fill: theme-color('light');
  path {
    fill: theme-color('light');
  }
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.input-group .btn {
  padding-left: 6px;
  padding-right: 6px;
}
.modal-body {
  font-size: 0.9rem;
}
.input-group {
  font-size: 0.9rem;
}
.modal-body {
  .card-body {
    padding: 0px;
  }
}
.modal-shadow {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.btn-secondary {
  color: white;
  background-color: theme-color('secondary');
  //border-color: theme-color('secondary-light');
}
.btn-primary {
  color: white;
  background-color: theme-color('primary');
  //border-color: theme-color('primary-light');
}
.btn-warning {
  color: white;
  background-color: theme-color('warning');
  //border-color: theme-color('warning-light');
}
hr {
  border-top: 2px solid;
  border-top-color: theme-color('secondary');
}

.highlight-toggler {
  position: absolute;
  right: 3px;
  top: 3px;
}

::placeholder {
  color: theme-color('secondary-light');
  font-style: italic;
  font-size: 0.9em;
  font-weight: 200;
}

.form-group label {
  color: theme-color('secondary');
}

.row .col-first {
  padding-left: 15px;
}
.row .col-last {
  padding-right: 15px;
}

.btn-picker.btn-outline-rbf,
.border-rbf,
.btn-outline-rbf {
  border-color: #ced4da !important;
}
.btn-picker.btn-outline-rbf:focus,
.border-rbf:focus,
.btn-outline-rbf:focus {
  border-color: theme-color('secondary') !important;
  box-shadow: 0 0.125rem 0.25rem theme-color('secondary-light') !important;
}
.is-invalid {
  .btn-picker.btn-outline-rbf,
  .border-rbf,
  .btn-outline-rbf {
    border-color: theme-color('danger') !important;
  }
}

.nav-tabs {
  border-color: theme-color('secondary-light');
}

.nav-item .nav-link {
  color: white;
}

.border-secondary-light {
  border: 1px solid theme-color('sedondary-light');
}

button:focus {
  outline: none;
}

.bg-white {
  background-color: white;
}

a.bg-light:hover:disabled,
a.bg-light:focus:disabled,
button.bg-light:hover:disabled,
button.bg-light:focus:disabled {
  background-color: theme-color('light') !important;
}
a.bg-secondary:hover:disabled,
a.bg-secondary:focus:disabled,
button.bg-secondary:hover:disabled,
button.bg-secondary:focus:disabled {
  background-color: theme-color('secondary') !important;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 0.375rem 0.75rem;
  background-color: white !important;
}
select:not([disabled]) {
  background: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 2px;
}
select[type='text']:disabled {
  background: theme-color('light') !important;
}
.btn-humburger {
  color: theme-color('secondary');
}
.btn-humburger:focus {
  box-shadow: none;
}
.btn-humburger:hover {
  color: theme-color('secondary-dark');
}
* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

p,
span,
input {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}

.no-selector {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.modal {
  display: flex !important;
  align-items: center !important;
  .modal-dialog {
    flex-grow: 1;
  }
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem theme-color('light') !important;
}

input[type='text']:disabled {
  background: theme-color('light');
}

.input-group-prepend {
  svg {
    width: 1rem !important;
    height: 1rem !important;
  }
  select {
    padding: 0.2rem 0.2rem;
    padding-right: 15px;
  }
  .input-group-text {
    padding: 2px;
  }
  .btn {
    padding: 2px;
  }
}
.input-group-append {
  svg {
    width: 1rem !important;
    height: 1rem !important;
    display: list-item;
    margin: auto;
  }
  .btn {
    padding: 2px;
    min-width: 28px;
    display: flex;
  }
}

.form-group {
  overflow: hidden;
}
.form-group label {
  margin-bottom: 0.1rem;
  word-break: break-all;
  white-space: nowrap;
}

.prosemirror-toolbar {
  /* TODO: remove !important once esbuild fixes CSS import order */
  color: theme-color('secondary') !important;
  flex-shrink: 0;

  .prosemirror-toolbar-group {
    border: 1px solid theme-color('secondary');
    border-radius: 2px !important;
  }

  button:hover {
    color: theme-color('primary') !important;
  }

  button[data-active="true"] {
    background-color: theme-color('secondary-light') !important;
    color: theme-color('secondary') !important;
  }
}

.prosemirror-editor {
  flex: 1;
  overflow-y: auto;
}

.prosemirror-demo {
  height: 50vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.prosemirror-demo-editor,
.prosemirror-demo-output {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  min-width: 400px;
  padding: 8px;
  gap: 4px;
}

.prosemirror-demo-editor {
  flex: 4;
  overflow-y: auto;
}

.prosemirror-demo-output {
  flex: 3;
}

.prosemirror-demo-output .output {
  flex: 1;
  /*max-height: 50%;*/
  overflow: hidden;
}

.prosemirror-demo-output pre {
  font-family: monospace;
  background: #000;
  color: lawngreen;
  padding: 8px;
  border-radius: 2px;
  white-space: pre-wrap;
  margin: 0;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}
.cursor-pointer{
  cursor: pointer;
}