@import '../../styles/mixins';

.basic-button-picker {
  .btn-picker {
    position: relative;
    display: block;
    text-align: left;
    background-color: theme-color('secondary-light');

    p {
      margin-bottom: 0.2rem;
    }

    a,
    a:visited,
    a:focus {
      float: right;
      margin-right: 10px;
      color: theme-color('secondary');
    }
  }
  .btn-picker:hover {
    background-color: theme-color('primary-light');
  }
  .btn-clear {
    text-align: right;
  }
  .btn-group-vertical {
    position: absolute;
    bottom: -2px;
    right: -8px;
  }
}
