@import "../../styles/mixins";

.video-container {
  display: flex;
  justify-content: center;
  .video {
    max-width: 100%;
  }
  .camera-icon {
    position: absolute;
    background-color: transparent;
    border: white 1px solid;
    box-shadow: none;
    border-radius: 4px;
    bottom: 20px;
    color: white;
    height: 3.5em;
    width: 3.5em;
    &:hover {
      background-color: $primary;
    }
  }
  .shoot-picture {
    max-width: 100%;
  }
  .shoot-btns {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .shoot-btn {
      background-color: transparent;
      border: white 1px solid;
      box-shadow: none;
      border-radius: 4px;
    }
    .valid {
      color: green;
      &:hover,
      :focus {
        background-color: green;
        color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }
    .cancel {
      color: red;
      &:hover,
      :focus {
        background-color: red;
        color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }
  }
}
.media-image-upload {
  max-width: 120px;
  max-height: 120px;
  height: auto;
  width: auto;
}
