.filter-filter-builder {
  .input-group-prepend {
    width: 180px;
    label, select, span {
      height: 100%;
      background-color: theme-color('light') !important;
      width: 100%;
    }
    .input-group-text {
      min-width: 50px;
      select{
        padding: 0px;
        padding-right: 20px;
        color: theme-color('dark') !important;
      }
    }
  }
  .form-group {
    margin-bottom: 0.1rem;
    padding-bottom: 0.5rem;
  }
  .form-group-no-bottom {
    margin-bottom: 0rem;
    padding-bottom: 0.1rem;
  }
}